.container {
  position: relative;
  background: radial-gradient(circle, rgba(246, 98, 94, 1) 0%, rgba(246, 98, 94, 1) 50%, rgba(199, 49, 45, 1) 100%);
  border: 20px solid #F5D099;
  box-sizing: border-box;
  height: 100vh;
}

.stars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../assets/images/star.svg");
  background-repeat: repeat;
  background-position: 0 0;
  animation: slide 500s linear infinite;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px -10000px;
  }
}

.titleContainer {
  text-align: center;
  padding: 20vh 10vw;
}

.titleTop {
  margin-bottom: 5vh;
  transform: rotate(3deg);
}

.titleBottom {
  transform: rotate(-2deg);
}

.title {
  font-size: 5vw;
  font-weight: bold;
  color: #801010;
  background-color: #f5d099;
  display: inline;
  padding: 0 40px;
  box-shadow: rgba(131, 47, 47, 0.5) 6px 5px 4px;
}

.reverse {
  transform: scaleX(-1);
  display: inline-block;
}